h1{
    color: red;
    background-color: black;
    height: 100px;
    width: 1000px;
    font-size: 50px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#hudai{
    color: darkslateblue;
    font-size: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}
.first{
    background-color: deepskyblue;
}
.second{
    border: 3px solid red;
    width: fit-content;
    padding: 10px;
}
.css{
    font-size: 100px;
}
.country{
    border: solid 3px red;
    border-radius: 10px;
    width: fit-content;
    padding: 10px;
    margin: 50px 20px;
}
.style{
    display: inline;
    text-align: justify;
}